<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.senolfeldmann.keyboardlayout.usgermanturkish</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>US German Turkish</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>KLInfo_US German Turkish</key>
	<dict>
		<key>ISOCode</key>
		<string>en_US</string>
		<key>TISIconIsTemplate</key>
		<true/>
	</dict>
	<key>CFBundleIconFile</key>
	<string>USGermanTurkish.icns</string>
</dict>
</plist>
